@import 'variables';

/* General styles */

body {
  margin: 0;
  padding: 0;

  font-family: 'Exo 2', sans-serif;
}

::selection {
  background: $pink-dark;
  color: $white;
}

:focus {
  outline: none;
}

/* Containers */

div {
  margin: 0;
  padding: 0;
}

.full-width-container {
}

.navigation-container {
  background: $purple-dark;
  background: linear-gradient(90deg, $purple-dark 0%, $pink-dark 100%);

  color: $white;

  padding: 40px 56px;

  h1 {
    font-size: 40px;
  }

  .navigation-links {
    button {
      background: none;
      border-radius: 12px;

      padding: 8px 16px;

      transition: 0.2s;

      span {
        color: $white;

        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;

        transition: 0.2s;
      }

      &:hover {
        background: $white;

        span {
          color: $pink-dark;
        }
      }
    }
  }
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

/* Basic */

.full-width {
  width: 100%;
}

/* Buttons */

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Temporary */

.container-placeholder {
  border: 2px solid $white;
  background: rgba($white, 0.1);
  border-radius: 12px;

  padding: 24px 32px;

  color: $white;
}
