<div class="welcome-container" [style.height]="(window.innerHeight - 128) + 'px'" fxLayoutAlign="center start">
  <div fxLayout="column" fxFlex.gt-lg="1440px" fxFlex.lg="1140px" fxFlex.lt-lg="768px" fxFlex.lt-md="512px">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="message-container" fxLayout="column" fxLayoutGap="16px">
        <h1>Buongiorno,<br> jestem Tomek.</h1>
        <h2>Pracuję jako programista Full Stack, <br>a po godzinach hobbystycznie dłubię w kodzie.</h2>
        <span>Zobacz sam</span>
      </div>

      <div class="image-container">
        <img src="assets/images/planet.svg" alt="planet">
      </div>
    </div>

  </div>
</div>
